.eachFeedback {
    width: 350px;
    padding-top: 30px;
    border: 2px solid rgba(128, 128, 128, 0.116);
    border-radius: 6px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
    & .quotes {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & .secondQuote {
            transform: rotate(180deg);
        }
    }
    & .feedbackText {
        width: 82%;
        margin-bottom: 80px;
        p {
            height: 90px;
            overflow: hidden;
            font-family: 'Nunito';
            font-size: 17px;
            color: rgb(104, 103, 103);
            user-select: none;
            pointer-events: none;
        }
    }
    & .button {
        padding-top: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid gold;
            background-color: rgb(255, 255, 255);
            transition: 0.4s;
            span {
                width: 6px;
                height: 6px;
                background-color: gold;
                border-radius: 50%;
                transition: 1.4s;
            }
            &:hover {
                background-color: gold;
                span {
                    background-color: black;
                }
            }
        }
    }
    & .author {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-family: 'Nunito';
            color: rgb(12, 21, 105);
        }
    }
}

@media (max-width: 1284px) {
    .eachFeedback {
        width: 335px;
        height: 415px;
    }

    .eachFeedback .feedbackText p {
        font-size: 15px;
    }

    .eachFeedback .author h3 {
        font-size: 20px;
    }
}

@media (max-width: 1260px) {
    .eachFeedback {
        width: 320px;
        height: 402px;
    }

    .eachFeedback .feedbackText p {
        font-size: 14px;
    }

    .eachFeedback .author h3 {
        font-size: 19px;
    }
}

@media (max-width: 1208px) {
    .eachFeedback {
        width: 310px;
        height: 390px;
    }
}

@media (max-width: 1170px) {
    .eachFeedback {
        width: 292px;
        height: 374px;
    }
    .eachFeedback .author h3 {
        font-size: 18px;
    }
}

@media (max-width: 1110px) {
    .eachFeedback {
        width: 285px;
        height: 374px;
    }
    .eachFeedback .feedbackText p {
        font-size: 13px;
    }

    .eachFeedback .author h3 {
        font-size: 17.5px;
    }
}

@media (max-width: 1087px) {
    .eachFeedback {
        width: 278px;
        height: 370px;
    }
    .eachFeedback .feedbackText p {
        font-size: 12px;
    }

    .eachFeedback .author h3 {
        font-size: 17px;
    }
}

@media (max-width: 1065px) {
    .eachFeedback {
        width: 265px;
        height: 360px;
    }
    .eachFeedback .feedbackText p {
        font-size: 11px;
    }

    .eachFeedback .author h3 {
        font-size: 16px;
    }
}

@media (max-width: 938px) {
    .eachFeedback {
        width: 257px;
        height: 350px;
    }
    .eachFeedback .feedbackText p {
        font-size: 10px;
    }

    .eachFeedback .author h3 {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .eachFeedback {
        width: 243px;
        height: 340px;
    }
    .eachFeedback .feedbackText p {
        font-size: 9.5px;
    }

    .eachFeedback .author h3 {
        font-size: 13.5px;
    }
}

@media (max-width: 858px) {
    .eachFeedback {
        width: 232px;
        height: 330px;
    }
    .eachFeedback .feedbackText p {
        font-size: 9.5px;
    }

    .eachFeedback .author h3 {
        font-size: 13px;
    }
}

@media (max-width: 826px) {
    .eachFeedback {
        width: 220px;
        height: 318px;
    }
    .eachFeedback .feedbackText p {
        font-size: 9.5px;
    }

    .eachFeedback .author h3 {
        font-size: 13px;
    }
}

@media (max-width: 778px) {
    .eachFeedback {
        width: 400px;
        height: auto;
        padding: 20px 10px;
    }

    .eachFeedback .quotes, 
    .eachFeedback .feedbackText, 
    .eachFeedback .author {
        width: 100%;
    }

    .eachFeedback .quotes div {
        width: 30px;
        height: 30px;
    }

    .eachFeedback .feedbackText p {
        font-size: 14px;
    }

    .eachFeedback .author h3 {
        font-size: 18px;
    }

    .eachFeedback .button button {
        width: 40px;
        height: 28px;
    }
}

@media (max-width: 592px) {
    .eachFeedback {
        width: 360px;
    }
}

@media (max-width: 528px) {
    .eachFeedback {
        width: 330px;
    }
}

@media (max-width: 478px) {
    .eachFeedback {
        width: 310px;
    }
}

@media (max-width: 448px) {
    .eachFeedback {
        width: 290px;
    }
}

@media (max-width: 421px) {
    .eachFeedback {
        width: 270px;
    }
}

@media (max-width: 393px) {
    .eachFeedback {
        width: 220px;
    }
}

@media (max-width: 322px) {
    .eachFeedback {
        width: 200px;
    }
}