header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 545455;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav-item {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all 0.5s ease;
  }
  
  .nav-item:hover {
    color: rgb(168, 239, 255, 0.9);
  }
  
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    width: 0;
    height: 0.15rem;
    transform: translateX(-50%);
    background-color: rgb(168, 239, 255, 0.9);
    transition: all 0.5s ease;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }
  
  .icons {
    position: absolute;
    right: 5%;
    font-size: 2.3rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .frontMenu {
    position: absolute;
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;  
    background-color: rgba(255, 255, 255, 0.86);
    padding: 10px 0;
    gap: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 0;
    top: 63px;
  }

@media (max-width: 900px) {
  header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 700px) {
  .nav-item {
    position: relative;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all 0.5s ease;
  }

  .logo {
    width: 70px;
  }
  
  .nav-item:hover {
    color: rgba(16, 92, 109, 0.9);
  }
  
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    width: 0;
    height: 0.15rem;
    transform: translateX(-50%);
    background-color: rgb(168, 239, 255, 0.9);
    transition: all 0.5s ease;
  }
}

@keyframes frontMenuAnimation {
  0% {
    right: -1000px;
    opacity: 0;
  }
  55% {
    opacity: 0.2;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes frontMenuCloseAnimation {
  0% {
    right: 0;
    opacity: 1;
  }
  55% {
    opacity: 0.7;
  }
  100% {
    right: -1000px;
    opacity: 0;
  }
}